.wrapper {
  margin-bottom: 0.35em;
}

.text {
  color: #fff;
  border-radius: 12px;
  font-weight: 600;
  line-height: 2;
  font-size: 0.75rem;
  padding: 4px 8px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.red {
  background-color: #D14343;
}

.green {
  background-color: #14B8A6;
}

.yellow {
  background-color: #FFB020;
}

.notifiesBlock{
  display: block;
  position: fixed;
  bottom: 0;
  right: 42px;
  z-index: 800;
}
